<div>
  <div style="display: block" *ngIf="!shouldGetSkuldsanering">
    <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
  <button mat-raised-button [routerLink]="['/autogiro']">sätt upp en avbetalningsplan</button>
  </div>

  <div *ngIf="shouldGetSkuldsanering">
    Räntan på dina skulder är för stor i relation till ditt betalningsutrymme för att skulderna <br> skall betalas tillbaka i rimlig tid.
    <p>Vi rekommenderar att du söker <a href="https://kronofogden.se/kanintebetalaskuldsanering.html">skuldsanering</a>.</p>

  </div>
</div>
